<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/layout-admin.html}"
	xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
<meta charset="utf-8">
<title>Products - Softy Bakery</title>
<th:block th:insert="~{layout :: css-link}"></th:block>
</head>
<body ng-app="app" ng-controller="" layout:fragment="content">
	<!-- Admin Product Start -->
	<div class="container" style="margin-top:50px;">
            <form method="post" th:action="'/admin/pi/'+${product.productId}" enctype="multipart/form-data">
				<div class="container text-center">
				  <h4 class="fw-bold fs-3 text-primary" th:text="${product.productName} +' - '+ ${product.productId}"></h4>
				  <span class="fw-light">Mã Sản Phẩm: <span class="fs-5 ms-3 fw-bold" th:text="${product.category.categoryName} +' - '+${product.category.categoryId}"></span>
				  </span>
				  <br>
				</div>
			<br/><hr/><br/>
            <input type="file" name="file" id="file" accept="">
           	<button class="btn btn-outline-primary">Add New</button>
        	<br/><br/>
            </form>
            <a class="btn btn-link" href="/admin/product"> Back</a>
            <table class="table table-hover">
                <thead>
                    <tr class="bg-primary text-white">
                        <th>Id</th>
                        <th>Url</th>
                        <th>Image</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pi : ${product.productImages}">
                        <td th:text="${pi.imageId}"></td>
                        <td th:text="${pi.imageUrl}"></td>
                        
                        <td>
                        	<img class="square-image" th:src="@{'/images/'+${pi.imageUrl}}" style="width:150px;height:150px; border: 4px solid white">
                        </td>
                        <td>
			                <a class="btn btn-outline-danger" th:href="'/admin/pi/delete/'+${pi.imageId}">Delete</a>           
                        </td>
                    </tr>
                </tbody>
            </table>
	</div>
	
	<script type="text/javascript">
		
	</script>
</body>
</html>