<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout-admin.html}"
  xmlns:th="http://www.thymeleaf.org" lang="vi">

<head>
  <meta charset="utf-8" />
  <title>Products - Softy Bakery</title>
</head>

<body class="bg-light" layout:fragment="content">
  <!-- Admin Product Start -->
  <div class="container-fluid"  ng-app="app" ng-controller="AdminProductController">
    <form method="post" id="formProduct" name="formProduct" enctype="multipart/form-data" style="padding-top: 20px;">
      <div class="row">
        <div class="col-4 square-image">
          <img ng-if="form.productImages[0].imageUrl" ng-src="/images/{{form.productImages[0].imageUrl}}"
            alt="Product Image" style="
                max-width: 100%;
                max-height: 100%;
                border-radius: 20px;
                border: 4px solid white;
              " />
        </div>
        <div class="col-8">
          <label class="form-label">Name
            <span ng-if="form.productId">( Id: <strong>{{form.productId}}</strong> )</span></label>
          <input type="text" class="form-control" ng-model="form.productName" />

          <div class="row" style="margin-top: 10px">
            <div class="col">
              <label class="form-label">Price</label>
              <input type="text" class="form-control" ng-model="form.price" />
            </div>
            <div class="col">
              <label class="form-label">Quantity In Storage</label>
              <input type="text" class="form-control" ng-model="form.quantityInStorage" />
            </div>
          </div>

          <div class="row" style="margin-top: 10px">
            <div class="col">
              <label class="form-label">Category</label>
              <select class="form-control" ng-model="form.category.categoryId"
                ng-options="c.categoryId as (c.categoryName + ' - ' + c.categoryId) for c in category">
                <option value="">-- Select Category --</option>
              </select>
            </div>
            <div class="col">
              <label class="form-label">Sub Description</label>
              <input class="form-control" ng-model="form.subDescription" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label class="form-label">Ingredient</label>
          <textarea class="form-control" rows="8" ng-model="form.ingredient"></textarea>
        </div>
        <div class="col">
          <label class="form-label">Storage Instruction</label>
          <textarea class="form-control" rows="8" ng-model="form.storageInstruction"></textarea>
        </div>
      </div>
      <label class="form-label">Description</label>
      <textarea class="form-control" rows="8" ng-model="form.description"></textarea>
      <br />

      <div class="d-flex flex-row-reverse">
        <div class="btn-group">
          <button ng-click="save('Add')" class="btn btn-outline-success">
            Add
          </button>
          <button ng-click="save('Update')" class="btn btn-outline-primary">
            Update
          </button>
          <button ng-click="delete(form.productId)" class="btn btn-outline-danger">
            Delete
          </button>
          <button ng-click="reset()" class="btn btn-outline-warning">
            Reset
          </button>
        </div>
      </div>

      <input type="hidden" ng-model="form.productId" />
    </form>

    <br />
    <hr />
    <br />

    <table class="table table-hover">
      <thead>
        <tr class="bg-primary text-white">
          <th>Id</th>
          <th>Name</th>
          <th>Image</th>
          <th>Description</th>
          <th>Price</th>
          <th>Category</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in products">
          <td>{{p.product.productId}}</td>
          <td>{{p.product.productName}}</td>
          <td>
            <img ng-src="/images/{{p.product.productImages[0].imageUrl}}" style="height: 60px" />
          </td>
          <td>{{p.product.subDescription}}</td>
          <td>{{p.product.price | vndCurrency}}</td>
          <td>
            {{p.product.category.categoryId+' -
            '+p.product.category.categoryName}}
          </td>
          <td>
            <div style="display: flex; align-items: center">
              <button ng-click="loadForm(p.product)" class="btn btn-link" target="formProduct">
                <i class="fa fa-pen"></i>
              </button>
              <a href="/admin/pi/{{p.product.productId}}" class="ml-2"><i class="fa fa-file-image"></i></a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>