<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/layout-admin.html}"
    xmlns:th="http://www.thymeleaf.org" lang="vi">

<head>
    <meta charset="utf-8">
</head>

<body ng-app="app" ng-controller="AdminAccountController">
    <div class="mb-2" style="width: 100%;" layout:fragment="content">
        <div class="mb-3 mt-3 d-flex">
            <div class="me-3" style="width: 200px;">
                <select class="form-select" id="filterOptions" ng-model="filterOptions">
                    <option value="all">Condition all</option>
                    <option value="activity">Activity</option>
                    <option value="blocker">Blocker</option>
                </select>
            </div>
            <div class="me-3" style="width: 200px;">
                <select class="form-select" id="editRole" name="editRole" ng-model="form.role"
                    ng-init="form.role = 'RoleAll'" ng-change="filterByRole()">
                    <option value="RoleAll">Roles all</option>
                    <option value="USER">User</option>
                    <option value="MANAGER">Manager</option>
                    <option value="ADMIN">Admin</option>
                    <option value="SUPER_ADMIN">Super Admin</option>
                </select>
            </div>
            <form class="d-flex" role="search" style="width: 700px;">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    ng-model="temporarySearchText">
                <button class="btn btn-outline-success d-flex" type="submit" ng-click="search()"><i
                        class="bi bi-search"></i> Search</button>
            </form>
        </div>

        <div class="row g-2">
            <div class="col-lg-8">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th>Username</th>
                            <th>Image</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>PhoneNumber</th>
                            <th>Condition</th>
                            <th>Manipulate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="account in filteredAccounts = (accounts | filter:searchText) | filter:filterCondition | filter:roleFilter">
                            <td><strong ng-style="getRoleStyle(account.role)">{{account.username}}</strong><br>{{account.fullName}}</td>
                            <td><img src="../images/accountPhoto/{{account.photo}}" width="100px"></td>
                            <td>{{account.email}}</td>
                            <td>{{account.addressDetail+' '+account.address}}</td>
                            <td>{{account.phoneNumber}}</td>
                            <td class="text-center "
                                ng-class="{'text-danger': account.banned, 'text-success': !account.banned}">
                                {{account.banned ? 'Locked' : 'Unlocked'}}
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-lg-square btn-outline-light rounded-circle m-auto"
                                    ng-click="editAccount(account)">
                                    <i class="bi bi-pencil-square text-primary"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <form id="editUserForm">
                    <div class="mb-3">
                        <label class="form-label" for="editPhoto">Photo:</label>
                        <div>
                            <img ng-src="{{getRelativeImagePath(form.photo)}}" width="100px" ng-show="form.photo" />
                            <input type="file" id="editPhoto" name="editPhoto" ng-model="form.photo" accept="image/*"
                                style="margin-top: 10px;"
                                onchange="angular.element(this).scope().handleFileSelect(this)">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="editFullname">Fullname: <span ng-if="form.username">( Username: <strong>{{form.username}}</strong> )</span></label>
                        <input type="text" class="form-control" id="editFullname" name="editFullname"
                            ng-model="form.fullName" required>
                        <input ng-model="form.username" type="hidden">

                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="editEmail">Email:</label>
                        <input type="email" class="form-control" id="editEmail" name="editEmail" ng-model="form.email"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="editAddress">Address:</label>
                        <input type="text" class="form-control" id="editAddress" name="editAddress"
                            ng-model="form.address" required>
                    </div>


                    <div class="mb-3">
                        <label class="form-label" for="editPhoneNumber">Phone Number:</label>
                        <input type="tel" class="form-control" id="editPhoneNumber" name="editPhoneNumber"
                            ng-model="form.phoneNumber" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="editRole">Role:</label>
                        <select class="form-select" id="editRole" name="editRole" ng-model="form.role"
                            style="width: 300px;" required>
                            <option value="USER">User</option>
                            <option value="MANAGER">Manager</option>
                            <option value="ADMIN">Admin</option>
                            <option value="SUPER_ADMIN">Super Admin</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Condition:</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="editCondition" id="editActivity"
                                ng-model="form.condition" value="activity"
                                ng-init="form.condition = form.condition || 'activity'" checked>
                            <label class="form-check-label" for="editActivity">Activity</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="editCondition" id="editBlocker"
                                ng-model="form.condition" value="blocker">
                            <label class="form-check-label" for="editBlocker">Blocker</label>
                        </div>
                    </div>

                    <div id="editReasonBlockerContainer" ng-show="form.condition === 'blocker'">
                        <div class="mb-3">
                            <label class="form-label" for="editReasonBlocker">Reason Blocker:</label>
                            <textarea class="form-control" id="editReasonBlocker" name="editReasonBlocker"
                                ng-model="form.reasonBanned"></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center text-center">
                        <button ng-click="update()" class="btn btn-outline-success m-2"
                            style="width: 120px;">Save</button>
                        <button ng-click="delete(form.username)" class="btn btn-outline-danger m-2"
                            style="width: 120px;">Delete</button>
                        <button ng-click="reset()" class="btn btn-outline-warning m-2"
                            style="width: 120px;">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{modalMessage }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Initialize Bootstrap tooltips
            $('[data-toggle="tooltip"]').tooltip();

            // Handle hover event for the 'Condition' cell
            $('.condition-cell').hover(
                function () {
                    // Show the tooltip when hovering over a locked account
                    if ($(this).hasClass('text-danger')) {
                        var reasonBlocker = $(this).data('reason-blocker');
                        $(this).attr('data-original-title', 'Reason Blocker: ' + reasonBlocker).tooltip('show');
                    }
                },
                function () {
                    // Hide the tooltip when not hovering
                    $(this).tooltip('hide');
                }
            );
        });
    </script>
    <script>
        // JavaScript to toggle Reason Blocker input based on Condition selection
        document.getElementById('userForm').addEventListener('change', function (event) {
            if (event.target.name === 'condition') {
                const reasonBlockerContainer = document.getElementById('reasonBlockerContainer');
                const reasonBlockerInput = document.getElementById('reasonBlocker');

                if (event.target.value === 'blocker') {
                    reasonBlockerContainer.style.display = 'block';
                    reasonBlockerInput.setAttribute('required', 'required');
                } else {
                    reasonBlockerContainer.style.display = 'none';
                    reasonBlockerInput.removeAttribute('required');
                }
            }
        });
    </script>
</body>

</html>