<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" lang="vi">

<head>
  <meta charset="utf-8">
  <title>Product Detail - Softy Bakery</title>
  <th:block th:insert="~{layout :: css-link}"></th:block>
  <style>
    .product-description>ul {
      list-style-type: none;
      padding: 0;
      background-color: pink;
    }

    .product-description>li {
      margin-left: 20px;
    }

    .des>li::before {
      content: "meo meo meo meo";
    }

    .circle-sub-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center center;
      margin: 5px;
    }
  </style>
</head>

<body style="background-color: #FDF5EB;" ng-app="app" ng-controller="ProductController" th:attr="data-product-id=${product.productId}"  id="productContainer">
  <!-- <div th:insert="~{layout :: spinner}"></div> -->
  <div th:insert="~{layout :: topbar}"></div>
  <div th:insert="~{layout :: navbarProduct}"></div>
  <!-- Page Header Start -->
  <div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center pt-5 pb-3">
      <h1 class="display-4 text-white animated slideInDown mb-3">Product Detail</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item">
            <a class="text-white" href="#">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a class="text-white" href="#">Products</a>
          </li>
          <li class="breadcrumb-item text-primary active" aria-current="page">ProductDetail</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- Page Header End -->
  <!-- Product Start -->
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-1" style="margin-top: 45px;">
        <div class="images">
          <img th:each="productImage : ${product.productImages}" class="img-thumbnail"
            th:src="@{'/images/'+${productImage.imageUrl}}" ng-click="setImgData($event)">
        </div>
      </div>
      <div class="col-md-6">
        <div style="display: flex; justify-content: center; align-items: center;">
          <img ng-src="{{imageClick ? imageClick : ''}}"
            th:src="@{/images/{imageUrl} (imageUrl = ${product.productImages[0].imageUrl})}"
            style="border-radius: 20px; border:5px solid white; max-height: 600px; max-width: 100%;">
        </div>


        <ul class="nav nav-tabs border-0">
          <li class="nav-item nav-info mt-2 ms-2">
            <a class="nav-link active" data-bs-toggle="tab" href="#mota"> Mô Tả Sản Phẩm </a>
          </li>
          <li class="nav-item nav-info mt-2 ms-2">
            <a class="nav-link" data-bs-toggle="tab" href="#thongtin">Thành phần</a>
          </li>
          <li class="nav-item nav-info mt-2 ms-2">
            <a class="nav-link" data-bs-toggle="tab" href="#baoquan">Hướng dẫn bảo quản</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="mota">
            <div class="product-description">
              <div id="showmore" class="container position-relative">
                <div class="d-flex flex-column des" th:utext="${product.description}"></div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="thongtin">
            <div class="row border-0 g-0 rounded shadow-sm">
              <div class="product-ingredient">
                <div class="product-description">
                  <div id="showmore" class="container position-relative">
                    <strong class=" text-secondary">Thành phần</strong>
                    <div th:utext="${product.ingredient}" class="des">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="tab-pane" id="baoquan">
            <div class="row border-0 g-0 rounded shadow-sm">
              <div class="product-storageInstruction">
                <strong class=" text-secondary">Hướng dẫn bảo quản</strong>
                <div th:utext="${product.storageInstruction}" class="des">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 ms-5">
        <h4 class="fw-bold fs-3 text-success" th:text="${product.productName} + ' - ' + ${product.productId}"></h4>
        <span class="fw-light">Mã Sản Phẩm: <span class="fs-5 ms-3 fw-bold"
            th:text="${product.getCategory().getCategoryName() + ' ' + product.getProductId()}"></span>
        </span>
        <br>
        <span class="fw-light">Giá: <span class="fs-4 ms-3 fw-normal">
            <span class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3"
              th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')+' ₫'}"></span>
          </span>
        </span>
        <br>
        <span class="fw-light">Mô tả:
          <span th:text="${product.subDescription}"></span>
        </span>
        <br>
        <div class="product-hotline mt-2">
          <p class="text-uppercase fs-6 text-success fw-bold">Gọi để mua hàng nhanh hơn</p>
          <a class="text-decoration-none text-black fs-5 fw-bold" href="">(+84) 869945854</a>
          <span class="small">(9h00 : 22h00) </span>
          <p class="mt-2 fs-6 text-success fw-bold">Giao hàng trong ngày(1h - 3h sau khi đặt)</p>
          <span class="fw-bold">
            <i class="bi bi-cart-check pe-2"></i>Giao hàng miễn phí
          </span>
          <span>(Đơn hàng trên 500k hoặc khoảng cách dưới 3km)</span>
          <br />
          <span class="fw-bold">
            <i class="bi bi-clock-history pe-2"></i>Miễn đổi trả



          </span>
          <br />
          <span class="fw-bold">
            <i class="bi bi-wallet2 pe-2"></i>Thanh toán
          </span> (Cash / Credit)

          <br />
        </div>
        <div class="mt-5 pt-5">
          <div class="col-12 text-center">
            <table>
              <tr>
                <td>
                  <button class="btn btn-success rounded-pill py-3 px-5"
                    ng-click="modifyCart(selectedProductId,'add')">Add to
                    Cart</button>
                </td>
                <td>
                  <a class="btn btn-primary rounded-pill py-3 px-5" href="">Order Nowz</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr />
  <br>
  <h2 style="display: grid; margin-left:40px;">Reviews</h2>

  <!-- Review Start -->
  <div class="container-xxl py-3" style="background-color: #FFFFFF; border-radius: 20px;">
    <form class="comment-container" ng-if="userInfo.username">
      <div class="comment-avatar">
        <img ng-src="/images/accountPhoto/{{userInfo.photo}}" class="circle-avatar">
      </div>
      <div class="comment-content">
        <div class="comment-name" ng-bind="userInfo.fullName"></div>
        <div class="comment-rating">
          <span ng-repeat="star in stars track by $index" class="fa fa-star"
            ng-class="{ 'text-primary': isHovered[$index] || $index < rating }" ng-mouseenter="setHovered($index, true)"
            ng-mouseleave="setHovered($index, false)" ng-click="setRating($index + 1)"></span>

        </div>
        <div class="comment-input-container">
          <input class="comment-input" placeholder="Viết đánh giá..." ng-model="formReview.comment"></input>
          <div class="btn-group">
            <button class="comment-button" ng-click="postReview()"><i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </form>

    <div class="comment-container" ng-if="!userInfo.username">
      <small class="text-black-50"><a href="/login">Đăng nhập</a> để đánh giá sản phẩm</small>
    </div>

    <div class="comment-container" ng-repeat="r in reviewList">
      <a class="comment-avatar" href="/images/accountPhoto/{{r.account.photo}}">
        <img ng-src="/images/accountPhoto/{{r.account.photo}}" class="circle-avatar">
      </a>
      <div class="comment-content">
        <div>
          <span class="comment-name" ng-bind="r.account.fullName"></span>
          <span class="comment-separator">·</span>
          <small><i class="far fa-clock"></i> <span ng-bind="r.reviewDate"
              style="font-size:12px; align-items: center;"></span></small>
        </div>


        <div class="comment-rating">
          <span ng-repeat="star in [].constructor(r.rating) track by $index" class="fa fa-star text-primary"></span>
          <span ng-repeat="star in [].constructor(5 - r.rating) track by $index" class="fa fa-star"></span>
        </div>
        <p class="comment-text" ng-bind="r.comment"></p>
      </div>
    </div>
  </div>
  <!-- Review End -->
  <br>
  <hr />
  <br>
  <h2 style="display: grid; margin-left:40px;">Hỏi và đáp</h2>


  <!-- Comment Start -->
  <div class="container-xxl py-3" style="background-color: #FFFFFF; border-radius: 20px;" ng-app="app"
    ng-controller="CommentController">
    <!-- Form comment -->
    <form class="comment-container" ng-if="userInfo.username">
      <div class="comment-avatar">
        <img ng-src="/images/accountPhoto/{{userInfo.photo}}" class="circle-avatar">
      </div>
      <div class="comment-content">
        <div class="comment-name" ng-bind="userInfo.fullName"></div>
        <div class="comment-input-container">
          <input class="comment-input" placeholder="Viết bình luận..." ng-model="commentForm.commentContent"></input>
          <div class="btn-group">
            <button class="comment-button" ng-click="postComment()"><i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </form>
    <div class="comment-container" ng-if="!userInfo.username">
      <small class="text-black-50"><a href="/login">Đăng nhập</a> để viết bình luận</small>
    </div>
    <!-- Display parent comments and their sub-comments -->
    <div class="comment-container" ng-repeat="commentDTO in commentDTOs">
      <a class="comment-avatar" href="/images/accountPhoto/{{commentDTO.parentComment.account.photo}}">
        <img ng-src="/images/accountPhoto/{{commentDTO.parentComment.account.photo}}" class="circle-avatar">
      </a>
      <div class="comment-content">
        <!-- Display parent comment information -->
        <div>
          <span class="comment-name" ng-bind="commentDTO.parentComment.account.fullName"></span>
          <span class="comment-separator">·</span>
          <small><i class="far fa-clock"></i> <span ng-bind="commentDTO.parentComment.commentDate "
              style="font-size:12px; align-items: center;"></span></small>
        </div>
        <!-- Display parent comment text -->
        <p class="comment-text" ng-bind="commentDTO.parentComment.commentContent"></p>
        <button ng-click="delete(commentDTO.parentComment.commentId)" style="margin:0;padding:0;" class="btn btn-link text-dark">Delete</button>

        <!-- Display sub-comments -->
        <div class="comment-container" ng-repeat="subComment in commentDTO.subComment"
          style="background-color: #F0F2F5;">
          <a class="comment-avatar" href="/images/accountPhoto/{{subComment.account.photo}}">
            <img ng-src="/images/accountPhoto/{{subComment.account.photo}}" class="circle-sub-avatar">
          </a>
          <div class="comment-content">
            <!-- Display sub-comment information -->
            <div>
              <span class="comment-name" ng-bind="subComment.account.fullName"></span>
              <span class="comment-separator">·</span>
              <small><i class="far fa-clock"></i> <span ng-bind="subComment.commentDate "
                  style="font-size:12px; align-items: center;"></span></small>
            </div>
            <!-- Display sub-comment text -->
            <p class="comment-text" ng-bind="subComment.commentContent"></p>
          </div>
        </div>
        <div>
          <!-- Form sub comment -->
          <form class="comment-container" ng-if="userInfo.username">
            <div class="comment-avatar">
              <img ng-src="/images/accountPhoto/{{userInfo.photo}}" class="circle-sub-avatar">
            </div>
            <div class="comment-content">
              <div class="comment-name" ng-bind="userInfo.fullName"></div>
              <div class="comment-input-container">
                <input class="comment-input" placeholder="Viết bình luận..." ng-model="commentForm.commentContent" ></input>
                <div class="btn-group">
                  <button class="comment-button" ng-click="postSubComment(commentDTO.parentComment.commentId)"><i class="fas fa-arrow-right"></i></button>
                </div>
              </div>
            </div>
          </form>
          <div class="comment-container" ng-if="!userInfo.username">
            <small class="text-black-50"><a href="/login">Đăng nhập</a> để viết bình luận</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Comment End -->
  <!-- Product End -->
  <div th:insert="~{layout :: footer}"></div>
  <div th:insert="~{layout :: copyright}"></div>
  <div th:insert="~{layout :: backtotop}"></div>
  <div th:insert="~{layout :: js-link}"></div>
</body>

</html>