<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" lang="vi">

<head>
	<meta charset="utf-8">
	<title>Products - Softy Bakery</title>
	<th:block th:insert="~{layout :: css-link}"></th:block>
	<style type="text/css">
		.form-label {
			color: gray;
			font-size: 15px;
		}
	</style>
</head>

<body ng-app="app" ng-controller="UserController">
	<div th:insert="~{layout :: spinner}"></div>
	<div th:insert="~{layout :: navbar}"></div>
	<!-- Page Header Start -->
	<div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
		<div class="container text-center pt-5 pb-3">
			<h1 class="display-4 text-white animated slideInDown mb-3">Profile</h1>
			<nav aria-label="breadcrumb animated slideInDown">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item"><a class="text-white" href="#">Home</a>
					</li>
					<li class="breadcrumb-item"><a class="text-white" href="#">Pages</a>
					</li>
					<li class="breadcrumb-item text-primary active" aria-current="page">Profile</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Page Header End -->

	<div class="container">
		<h1 class="col-8">Edit Profile</h1>
		<hr></br></br>

		<div class="row">
			<div class="col">
				<div class="mb-3">
					<label class="form-label">Tên đăng nhập: </label>
					<strong ng-bind="form.username"></strong>
				</div>
				<div class="mb-3">
					<label for="fullName" class="form-label">Full Name:</label>
					<input type="text" id="fullName" class="form-control" ng-model="form.fullName" required />
				</div>

				<div class="mb-3">
					<label for="email" class="form-label">Email:</label>
					<input type="email" id="email" class="form-control" ng-model="form.email" required />
				</div>

				<div class="mb-3 dropdown">
					<div class="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
						<label for="address" class="form-label">Tỉnh/thành phố - quận/huyện - phường-xã:</label>
						<input type="text" class="form-control" id="address" ng-model="form.address"/>
					</div>
					
					<div class="dropdown-menu" style="border:0.1 solid gray">
						<div class="dropdown-item">
							<div class="row" style="hover:none;">
								<div class="col-4">
									<select class="form-select" ng-options="city as city.name for city in cities"
										ng-change="loadDistricts()" ng-model="city">
										<option value="">Chọn thành phố</option>
									</select>
								</div>
								<div class="col-4">
									<select class="form-select"
										ng-options="district as district.name for district in districts"
										ng-change="loadWards()" ng-model="district">
										<option value="">Chọn quận/huyện</option>
									</select>
								</div>
								<div class="col-4">
									<select class="form-select" ng-options="ward as ward.name for ward in wards"
										ng-model="ward" ng-change="setAddress()">
										<option value="">Chọn phường/xã</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-3">
					<label for="addressDetail" class="form-label">Địa chỉ cụ thể:</label>
					<input type="text" id="addressDetail" class="form-control" required ng-model="form.addressDetail" />
				</div>

				<div class="mb-3">
					<label for="phoneNumber" class="form-label">Phone Number:</label>
					<input type="text" id="phoneNumber" class="form-control" ng-model="form.phoneNumber" />
				</div>
				<div class="mb-3">
					<div class="row">
						<div class="col">
							<label for="password" class="form-label">Password:</label>
							<input type="password" id="password" class="form-control" ng-model="form.password" />
						</div>
						<div class="col">
						</div>
					</div>
				</div>


			</div>
			<div class="col-lg-3">
				<form action="/profile/edit" method="POST" enctype='multipart/form-data'>
					<img ng-src="/images/accountPhoto/{{form.photo}}" class="square-image">
					<div class="text-center">
						<button type="button" class="" data-bs-toggle="modal"
							data-bs-target="#exampleModal" style="margin:20px; padding:10px; border:0.1px solid gray">CHỌN ẢNH</button>
					</div>
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">Choose Avatar</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<label for="formFileSm" class="form-label">CHỌN ẢNH</label>
									<div>
											<img id="imgAvatar" src="" class="square-image" style="margin: 10px auto;">
											<input class="form-control form-control-sm" type="file" id="fileAvatar" name="file">
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">Close</button>
									<button class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<button type="submit" class="btn btn-primary" ng-click="putUser()">Save Changes</button>
	</div>



	<div th:insert="~{layout :: footer}"></div>
	<div th:insert="~{layout :: copyright}"></div>
	<div th:insert="~{layout :: backtotop}"></div>
	<div th:insert="~{layout :: js-link}"></div>
	<script>
		var fileAvatar = document.getElementById("fileAvatar");
		var imgAvatar = document.getElementById("imgAvatar");
	
		fileAvatar.addEventListener('change', function () {
			var file = fileAvatar.files[0];
			var reader = new FileReader();
	
			reader.onload = function (e) {
				imgAvatar.src = e.target.result;
			};
			if (file) reader.readAsDataURL(file); 
		});
	</script>
</body>

</html>