<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
<meta charset="utf-8">
<title>Products - Softy Bakery</title>
<th:block th:insert="~{layout :: css-link}"></th:block>
</head>
<body ng-app="app" ng-controller="ProductController">
	<div th:insert="~{layout :: spinner}"></div>
	<div th:insert="~{layout :: navbar}"></div>
	<!-- Page Header Start -->
	
	<div class="container-fluid page-header py-6 wow fadeIn"
		data-wow-delay="0.1s">
		<div class="container text-center pt-5 pb-3">
			<h1 class="display-4 text-white animated slideInDown mb-3">Profile</h1>
			<nav aria-label="breadcrumb animated slideInDown">
				<ol class="breadcrumb justify-content-center mb-0">
					<li class="breadcrumb-item"><a class="text-white" href="#">Home</a>
					</li>
					<li class="breadcrumb-item"><a class="text-white" href="#">Pages</a>
					</li>
					<li class="breadcrumb-item text-primary active" aria-current="page">Profile</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- Page Header End -->
	<!-- Profile Content -->
	<div class="container my-5 bg-light" style="border-radius: 12px;">
	    <div class="row">
	        <!-- Left Sidebar -->
	        <div class="col-lg-3 p-4">
				<img th:src="${'/images/accountPhoto/'+user.photo}" class="square-image">
				<h4 th:text="${user.fullName}"></h4>
				<p>Email: <span th:text="${user.email}"></span></p>
				<p>Location: <span th:text="${user.addressDetail}+', '+ ${user.address}"></span></p>
				
	        </div>
	        <!-- Main Content -->
	        <div class="col-lg-9 p-4">
	            <div class="card">
	                <div class="card-body">
	                    <h2>My profile</h2>
	                    <hr>
	
	                    <!-- Profile Information -->
	                    <div class="mb-4">
							<h4>Profile Information</h4>
							<p><strong>Role:</strong> <span th:text="${user.role}" class="text-black-50"></span></p>
							<p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
							<p><strong>Phone:</strong> <span th:text="${user.phoneNumber}"></span></p>
	                        
							
	                        
	                        
	                        
	                    </div>
	
	                    <!-- Edit Profile Button -->
	                    <a href="/profile/edit" class="btn btn-primary">Edit Profile</a>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div th:insert="~{layout :: footer}"></div>
	<div th:insert="~{layout :: copyright}"></div>
	<div th:insert="~{layout :: backtotop}"></div>
	<div th:insert="~{layout :: js-link}"></div>
	
</body>
</html>